body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  header {
    background-color: #0073e6;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  main {
    padding: 2em;
  }
  
  .btn {
    display: inline-block;
    margin: 1em;
    padding: 1em 2em;
    background-color: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #005bb5;
  }
  